@import "_variables.scss";

* {
    box-sizing: border-box;
}

body {
    background-color: $main-color;
    color: $main-color;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        background-color: $main-color;
        color: $sub-color;
    }
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    gap: 1px;
    & > * {
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $sub-color;
    }
    .img {
        background-color: black;
        width: 100%;
        height: 100%;
        grid-row: span 5;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes flow {
    from {
        transform: translateX(25%);
    }
    to {
        transform: translateX(-25%);
    }
}

#animate {
    overflow: hidden;
    p {
        animation: flow 6s linear infinite none;
        white-space: nowrap;
    }
}

